@model IEnumerable<VacationsPortal.Models.EmployeesView>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">
        + New Employee
    </button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Resigned")'">
        Resigned
    </button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("NullResigned")'">
        NullResigned
    </button>
    <a class="btn btn-primary" href="@("/Employees/ClearCarryOver/")"
       onclick="return confirm('Are you sure that you want to clear CarryOver for ALL employees?');">
        Clear CarryOver
    </a>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","PublicVacations")'">
        Public Vacations
    </button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("VacationInquiry","Employees")'">
        Vacation Inquiry
    </button>
</p>

<style>
    div.dt-buttons {
        float: right;
        margin-left: 10px;
    }
</style>

<table class="mdl-data-table" id="tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasedOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationBalance)
            </th>
            <th>
                @Html.DisplayName("CarryOver")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.DirectLine)
                </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Name != null)
                    {
                        @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                    }
                </td>
                <td>
                    <a href="mailto:@item.Email">@item.Email</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasedOut)
                </td>
                <td>
                    @if (item.HiringDate != null)
                    {
                        @item.HiringDate.Value.ToShortDateString()
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacationBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacationsCarryOver)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DirectLine)
                    </td>*@

                <td>
                    @Html.ActionLink("Mark Resigned", "MarkResigned", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @*<a type="button" class="btn btn-primary" href="@("/Employees/Edit/"+item.Id.ToString())">
                            Edit
                        </a>*@
                </td>
            </tr>
        }
    </tbody>

</table>

@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
}

@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("#tb").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel'
                ],
                columnDefs: [
                    {
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ],
                fixedHeader: true,
                "order": false
            });
        });

    </script>

}
