@model VacationsPortal.Models.TravelRequestView

@{
    ViewBag.Title = "Edit Travel Request";
}

<h2>Edit Travel Request</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Routes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Routes)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Trip Dates", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (Model.StartDate != null && Model.EndDate != null)
            {
                @(Model.StartDate.Value.ToShortDateString() + " to " + Model.EndDate.Value.ToShortDateString())
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TRStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TRStatus, ViewBag.TRStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TRStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VisaStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.VisaStatus, ViewBag.Statuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VisaStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HotelStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.HotelStatus, ViewBag.Statuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HotelStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FlightStatus, "FlightStatus", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FlightStatus, ViewBag.Statuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FlightStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HRLetterStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.HRLetterStatus, ViewBag.Statuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HRLetterStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FlightCost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FlightCost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.FlightCostCurrency, ViewBag.Currencies as SelectList, "-select currency-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FlightCost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FlightCost2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FlightCost2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.FlightCost2Currency, ViewBag.Currencies as SelectList, "-select currency-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FlightCost2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HotelCost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HotelCost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.HotelCostCurrency, ViewBag.Currencies as SelectList, "-select currency-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HotelCost, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.OperationsNotes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OperationsNotes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OperationsNotes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReissueCost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReissueCost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReissueCost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReissueCost2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReissueCost2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReissueCost2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReissueCost3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReissueCost3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReissueCost3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FlightRefund, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FlightRefund, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FlightRefund, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FlightInvoiceStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FlightInvoiceStatus, ViewBag.InvoiceStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FlightInvoiceStatus, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FlightInvoiceStatus2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FlightInvoiceStatus2, ViewBag.InvoiceStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FlightInvoiceStatus2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ReissueInvoiceStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ReissueInvoiceStatus, ViewBag.InvoiceStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ReissueInvoiceStatus, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ReissueInvoiceStatus2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ReissueInvoiceStatus2, ViewBag.InvoiceStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ReissueInvoiceStatus2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ReissueInvoiceStatus3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ReissueInvoiceStatus3, ViewBag.InvoiceStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ReissueInvoiceStatus3, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HotelInvoiceStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.HotelInvoiceStatus, ViewBag.InvoiceStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HotelInvoiceStatus, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.VisaInvoiceStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.VisaInvoiceStatus, ViewBag.InvoiceStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VisaInvoiceStatus, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FlightRefundInvoiceStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FlightRefundInvoiceStatus, ViewBag.InvoiceStatuses as SelectList, "-select status-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FlightRefundInvoiceStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
