@model VacationsPortal.Models.TRHotelInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRHotelInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TravelRequest.TRID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelRequest.TRID)
        </dd>

        <dt>
            @Html.DisplayName("Employee Name")
        </dt>
        <dd>
            @if (Model.TravelRequest.Trips.Count > 0)
            {
                @Html.DisplayFor(model => model.TravelRequest.Trips.ToList()[0].Employee.contact.FullName)
            }
        </dd>

        <dt>
            @Html.DisplayName("Country Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayName("Check in/out")
        </dt>
        <dd>
            @Html.DisplayName(Model.CheckInDate.ToShortDateString() + " to " + Model.CheckOutDate.ToShortDateString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelRate)
        </dt>
        <dd>
            @if (Model.Currency != null)
            {
                @Html.DisplayName(Model.HotelRate + " " + Model.Currency.CurrencyName)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd>
            @if (Model.Hotel != null)
            {
                @Html.DisplayFor(model => model.Hotel.Name)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd>
            @if (Model.PaymentMethod != null)
            {
                @Html.DisplayFor(model => model.PaymentMethod.MethodName)
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
