@model VacationsPortal.Models.Route

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("TRID")
        </dt>
        <dd>
            @if (Model.Trip != null)
            {
                @Html.DisplayFor(model => model.Trip.TRID)
            }
        </dd>

        <dt>
            @Html.DisplayName("Employeee Name")
        </dt>
        <dd>
            @if (Model.Trip != null)
            {
                @Html.DisplayFor(model => model.Trip.Employee.contact.FullName)
            }
        </dd>

        <dt>
            @Html.DisplayName("Country")
        </dt>
        <dd>
            @if (Model.Country != null)
            {
                @Html.DisplayFor(model => model.Country.CountryName)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisaCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisaCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @if (Model.Currency != null)
            {
                @Html.DisplayFor(model => model.Currency.CurrencyName)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.routeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
