@model IEnumerable<VacationsPortal.Models.Trip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofWorkingDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Business)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.employeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelRequest.RequesterNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofWorkingDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Business)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCanceled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.employeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelRequest.RequesterNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
